# Host EC2 - Public
Host ec2-*
   HostName %h.us-east-2.compute.amazonaws.com
   User ec2-user
   #IdentityFile E:\Development\UserKeys\SSH\id_rsa_aws_user
   ForwardAgent yes

# Host EC2 - Private
Host ip-*
   HostName %h.us-east-2.compute.internal
   User ec2-user
   #ProxyJump ec2-18-219-242-238

# VM Locales: Usando red modo "brigde" y el usuario "lucianoepc"
Host 192.168.30.9? 192.168.30.8?
   User lucianoepc
   IdentityFile E:\Development\UserKeys\SSH\id_rsa_vm_user
   #ControlMaster auto
   #ControlPath C:\Users\LucianoWin\.ssh\control-%C
   #ControlPersist yes

# VM Locales (red modo "brigde")
Host vm*
   HostName %h.quyllur.home
   User lucianoepc
   IdentityFile E:\Development\UserKeys\SSH\id_rsa_vm_user
   #ControlMaster auto
   #ControlPath /tmp/control-%C
   #ControlPersist yes

# Optimizado para conectarse a docker de las VM Locales usando red modo "brigde"
Host dck-192.168.30.98
   HostName 192.168.30.98
   User lucianoepc
   IdentityFile E:\Development\UserKeys\SSH\id_rsa_vm_user_nocrypt
   ControlMaster auto
   ControlPath /tmp/control-%C
   ControlPersist yes

# My Gitlab: https://github.com/lucianoepc, https://github.com/lestebanpc
Host ghub-lepc
   HostName github.com
   User git
   PreferredAuthentications publickey
   IdentityFile C:\Users\LucianoWin\.ssh\id_rsa

# My Gitlab: https://gitlab.com/lucianoepc, https://gitlab.com/lestebanpc
Host glab-lepc
   HostName gitlab.com
   User git
   PreferredAuthentications publickey
   IdentityFile C:\Users\LucianoWin\.ssh\id_rsa

# Git reader (read-only access to repository)
Host git-reader
   HostName gitlab.com
   User git
   PreferredAuthentications publickey
   IdentityFile E:\Development\UserKeys\SSH\id_rsa_rhocp_builder_nocrip

# NASPHOENIX
Host nasphoenix
   HostName 192.168.30.201
   User lepcadmin
   IdentityFile C:\Users\LucianoWin\.ssh\id_rsa

# Defaul section
Host *
   ForwardAgent no
