# VIM - Archivos swap o temporales (formato '.filename.swp')
**/*.swp
**/*.swo

# VIM - Archivos de 'persistence undo' (formato '.filename.un~')
**/*.un~

# Log generados por: TMUX, ..
*.log

# Archivos internos de GIT
.git/*

# Archivos de tag generado por Universal CTags
tags

# Paquetes locales de NodeJS (binarios de NodeJs)
node_modules/*

# Archivo de configuracion para los archivos de setup del SO y el profile del usuario
shell/bash/bin/linuxsetup/.config.bash
shell/bash/bin/termuxsetup/.config.bash
shell/powershell/bin/linuxsetup/.config.ps1
shell/powershell/bin/windowssetup/config.ps1

# Ingnorar archivos personalizados incluidos en '.gitignore'
#etc/git/custom/*
#!etc/git/custom/template_linux_main.toml
#!etc/git/custom/template_linux_work.toml
#!etc/git/custom/template_windows_main.toml
#!etc/git/custom/template_windows_work.toml

# Autogenerado que cambian frecuentemente> Temas de Oh-My-Posh
etc/oh-my-posh/default/*

# Autogenerado que cambian frecuentemente> Autocomplete de comandos instalados
shell/bash/login/autocomplete/yazi.*
shell/bash/login/autocomplete/ya.*
shell/fish/login/autocomplete/yazi.*
shell/fish/login/autocomplete/ya.*
shell/zsh/login/autocomplete/yazi.*
shell/zsh/login/autocomplete/ya.*
shell/others/login/autocomplete/yazi.*
shell/others/login/autocomplete/ya.*
shell/powershell/login/autocomplete/ya.*
shell/powershell/login/autocomplete/yazi.*

shell/bash/login/autocomplete/eza.*
shell/fish/login/autocomplete/eza.*
shell/zsh/login/autocomplete/eza.*
shell/others/login/autocomplete/eza.*
shell/powershell/login/autocomplete/eza.*

shell/bash/login/autocomplete/zoxide.*
shell/fish/login/autocomplete/zoxide.*
shell/zsh/login/autocomplete/zoxide.*
shell/others/login/autocomplete/zoxide.*
shell/powershell/login/autocomplete/zoxide.*

shell/bash/login/autocomplete/gum.*
shell/fish/login/autocomplete/gum.*
shell/zsh/login/autocomplete/gum.*
shell/others/login/autocomplete/gum.*
shell/powershell/login/autocomplete/gum.*

shell/bash/login/autocomplete/fzf.*
shell/fish/login/autocomplete/fzf.*
shell/zsh/login/autocomplete/fzf.*
shell/others/login/autocomplete/fzf.*
shell/powershell/login/autocomplete/fzf.*

shell/bash/login/autocomplete/fd.*
shell/fish/login/autocomplete/fd.*
shell/zsh/login/autocomplete/fd.*
shell/others/login/autocomplete/fd.*
shell/powershell/login/autocomplete/fd.*

shell/bash/login/autocomplete/bat.*
shell/fish/login/autocomplete/bat.*
shell/zsh/login/autocomplete/bat.*
shell/others/login/autocomplete/bat.*
shell/powershell/login/autocomplete/bat.*

shell/bash/login/autocomplete/rg.*
shell/fish/login/autocomplete/rg.*
shell/zsh/login/autocomplete/rg.*
shell/others/login/autocomplete/rg.*
shell/powershell/login/autocomplete/rg.*

shell/bash/login/autocomplete/step.*
shell/fish/login/autocomplete/step.*
shell/zsh/login/autocomplete/step.*
shell/others/login/autocomplete/step.*
shell/powershell/login/autocomplete/step.*


