# Default values: 'https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml'
# Path:
#    ~/.config/yazi/keymap.toml        (Unix-like systems)
#    %AppData%\yazi\config\keymap.toml (Windows)
#
# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [

    # --------------------------------------------------------------------------
    # Anulando keymappings
    # --------------------------------------------------------------------------

    # Se anula el keymapping built-in "f" ('filtrado de vista actual de yazi'). Se remplazara por "s".
    { on = "f", run = "noop" },

    # Se anula el keymapping built-in "S" ('busqueda de archivos por su contenido dentro de yazi'). Se remplazara por "s, c".
    { on = "S", run = "noop" },

    # Se anula el keymapping built-in "Ctrl + a" ('toggle all') para dejar libre a uso tmux. Se remplazara por "A"
    { on = "<C-a>", run = "noop" },

    # Se anula el keymapping built-in "g,c" y "g,d" . Se remplazara por "g,2" y "g,1"
    { on = [ "g", "c" ], run = "noop" },
    { on = [ "g", "d" ], run = "noop" },

    # --------------------------------------------------------------------------
    # Nuevos keymappings
    # --------------------------------------------------------------------------

    # Comando de busqueda integrada en la vista de Yazi
	{ on = [ "f", "n" ], run = "search --via=fd", desc = "Search files by name via fd" },
	{ on = [ "f", "c" ], run = "search --via=rg", desc = "Search files by content via ripgrep" },

    # Comando de busqueda externa usando 'fzf'
    { on = [ "f", "d" ], run = "plugin fzf-fd -- d --tmux --height=80 --width=99", desc = "Search folders with fzf & fd" },
    { on = [ "f", "f" ], run = "plugin fzf-fd -- f --tmux --height=80 --width=99", desc = "Search files with fzf & fd" },

    # Comando para ir a directorios especiales
	{ on = [ "g", "1" ], run = "cd ~/Downloads", desc = "Go ~/Downloads" },
	{ on = [ "g", "2" ], run = "cd ~/.config", desc = "Go ~/.config" },

    { on = [ "g", "r" ], run = "plugin go-fs -- rootdir", desc = "Go inicial WorkDir" },
    { on = [ "g", "g" ], run = "plugin go-fs -- rootgit", desc = "Go root git folder" },
    { on = [ "g", "o" ], run = "plugin go-fs -- openintab --type=rootdir", desc = "View files in initial WorkDir" },
    { on = [ "g", "q" ], run = "plugin go-fs -- openintab --type=rootgit", desc = "View files in root git folder" },

    # --------------------------------------------------------------------------
    # Redefiniendo keymappings predeterminados
    # --------------------------------------------------------------------------

    # Se redefine el 'filtrado de vista actual de yazi' (el keymapping por defecto usa "f").
    { on = "s", run = "filter --smart", desc = "Filter files" },

    # Se redefine el 'toggle all' (el keymapping por defecto usa "A").
	{ on = "A",   run = "toggle_all --state=on", desc = "Select all files" },

]
