# Default values: 'https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml'
# Path:
#   ~/.config/yazi/yazi.toml        (Unix-like systems)
#   %AppData%\yazi\config\yazi.toml (Windows)
#
# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"
