# Default values: 'https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml'
# Path:
#   ~/.config/yazi/yazi.toml        (Unix-like systems)
#   %AppData%\yazi\config\yazi.toml (Windows)
#
# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[opener]
open_folder = [
    # Para Windows
	{ run = 'wezterm cli spawn --cwd %1', desc = "Open in Wezterm tab", for = "windows" },
	{ run = 'explorer /select,%1', desc = "Open in Explorer", for = "windows", orphan = true },
	{ run = 'code %1', desc = "Open with VSCode", for = "windows", orphan = true },

    # Para Android (Termux)
    # Para MacOS

    # Para Linux y Unix
	{ run = '${HOME}/.local/bin/open_new_termtab "$1"', desc = "Open in Terminal Tab", for = "linux" },
	{ run = 'code "$1"', desc = "Open with VSCode", for = "unix", orphan = true },
]

edit = [
    # Para Windows
	{ run = '%EDITOR% %*', desc = "Edit with NeoVim", for = "windows", block = true },
	{ run = 'code %*', desc = "Edit wtih VSCode", for = "windows", orphan = true },
	#{ run = 'code -w %*', desc = "Edit wtih VSCode (block)", for = "windows", block = true },

    # Para Android (Termux)
    # Para MacOS

    # Para Linux y Unix
	{ run = '${EDITOR:-vi} "$@"', desc = "Edit with $EDITOR", for = "unix", block = true },
]

play = [
    # Para Windows
	{ run = 'start "" %1', orphan = true, desc = "Play by default", for = "windows" },
	{ run = 'mediainfo %1 & pause', block = true, desc = "Show media info", for = "windows" },

    # Para Android (Termux)
	{ run = 'termux-open "$1"', desc = "Play by defautl", for = "android" },

    # Para MacOS
	{ run = 'open "$@"', desc = "Play by default", for = "macos" },

    # Para Linux y Unix
	{ run = 'xdg-open "$@"', desc = "Play by defualt", for = "linux" },
	{ run = 'mediainfo "$1"; echo "Press enter to exit"; read _', block = true, desc = "Show media info", for = "unix" },
]

open = [
    # Para Windows
	{ run = 'start "" %1', desc = "Open by defualt", for = "windows", orphan = true },

    # Para Android (Termux)
	{ run = 'termux-open "$1"', desc = "Open by default", for = "android" },

    # Para MacOS
	{ run = 'open "$@"', desc = "Open by default", for = "macos" },

    # Para Linux y Unix
	{ run = 'xdg-open "$1"', desc = "Open by default", for = "linux" },
]

reveal = [
    # Para Windows
	{ run = 'explorer /select,%1', desc = "Reveal by default", for = "windows", orphan = true },

    # Para Android (Termux)
	{ run = 'termux-open "$1"', desc = "Reveal by default", for = "android" },

    # Para MacOS
	{ run = 'open -R "$1"', desc = "Reveal by default", for = "macos" },

    # Para Linux y Unix
	{ run = 'xdg-open "$1"', desc = "Reveal by default", for = "linux" },
	{ run = '${HOME}/.local/bin/open_new_termtab "$1"', desc = "Open ParentFolder in TermTab", for = "linux" },
	{ run = 'clear; exiftool "$1"; echo "Press enter to exit"; read _', desc = "Show EXIF", for = "unix", block = true },
]

extract = [
	{ run = "ya pub extract --list %s", desc = "Extract here" },
]

download = [
	{ run = "ya emit download --open %S", desc = "Download and open" },
	{ run = "ya emit download %S", desc = "Download" },
]



[open]
rules = [

	# Folder en Unix (Linux)
	{ mime = "inode/directory", use = [ "open_folder" ] },

	# Folder en Windows
	{ mime = "folder/local", use = [ "open_folder" ] },

	# Text
	{ mime = "text/*", use = [ "edit", "reveal" ] },

	# Image
	{ mime = "image/*", use = [ "open", "reveal" ] },

	# Media
	{ mime = "{audio,video}/*", use = [ "play", "reveal" ] },

	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },

    # Office document
	{ mime = "application/{msword,ms-excel,ms-powerpoint}", use = [ "open", "reveal" ] },
	{ mime = "application/openxmlformats-officedocument.wordprocessingml.document", use = [ "open", "reveal" ] },
	{ mime = "application/openxmlformats-officedocument.spreadsheetml.sheet", use = [ "open", "reveal" ] },
	{ mime = "application/openxmlformats-officedocument.presentationml.presentation", use = [ "open", "reveal" ] },

	# JSON
	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = [ "edit", "reveal" ] },

	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },

	# Virtual file system
	{ mime = "vfs/{absent,stale}", use = "download" },

	# Fallback
	{ url = "*", use = [ "open", "reveal" ] },

]
