# Default values: 'https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml'
# Path:
#    ~/.config/yazi/keymap.toml        (Unix-like systems)
#    %AppData%\yazi\config\keymap.toml (Windows)
#
# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [

    # --------------------------------------------------------------------------
    # Anulando keymappings
    # --------------------------------------------------------------------------

    # Se anula el keymapping built-in "f" ('filtrado de vista actual de yazi'). Se remplazara por "s".
    { on = "f", run = "noop" },

    # Se anula el keymapping built-in "S" ('busqueda de archivos por su contenido dentro de yazi'). Se remplazara por "s, c".
    { on = "S", run = "noop" },

    # Se anula el keymapping built-in "Ctrl + a" ('toggle all') para dejar libre a uso tmux. Se remplazara por "A"
    { on = "<C-a>", run = "noop" },

    # Se anula el keymapping built-in "g,c" y "g,d" . Se remplazara por "g,2" y "g,1"
    { on = [ "g", "c" ], run = "noop" },
    { on = [ "g", "d" ], run = "noop" },


    # --------------------------------------------------------------------------
    # Nuevos keymappings
    # --------------------------------------------------------------------------

    # Comandos de busqueda integrada en la vista de Yazi
	{ on = [ "f", "n" ], run = "search --via=fd", desc = "Search files by name    (fd)" },
	{ on = [ "f", "c" ], run = "search --via=rg", desc = "Search files by content (rg)" },

    # Comandos de busqueda externa usando 'fzf'
    { on = [ "f", "d" ], run = "plugin fzf-fd -- d", desc = "Search folders (fzf & fd)" },
    { on = [ "f", "f" ], run = "plugin fzf-fd -- f", desc = "Search files   (fzf & fd)" },
	#{ on = [ "f", "w" ], run = "plugin fzf-rg", desc = "Search files by content (fzf & rg)" },

    # Comandos para editar archivos de texto (opcionalmente realizan una busqueda en los archivos de texto)
    { on = [ "e", "a" ], run = "plugin fzf-rg -- rootdir", desc = "Search & Edit in new TermTab (Initial WorkDir)" },
    { on = [ "e", "b" ], run = "plugin fzf-rg -- rootgit", desc = "Search & Edit in new TermTab (Root Git)" },
    { on = [ "e", "w" ], run = "plugin go-fs -- openintab --type=rootdir", desc = "Edit in new TermTab (Initial WorkDir)" },
    { on = [ "e", "g" ], run = "plugin go-fs -- openintab --type=rootgit", desc = "Edit in new TermTab (Root Git)" },

    # Comandos para ir a directorios especiales
	{ on = [ "g", "1" ], run = "cd ~/Downloads", desc = "Go ~/Downloads" },
	{ on = [ "g", "2" ], run = "cd ~/.config", desc = "Go ~/.config" },
	{ on = [ "g", "3" ], run = "cd %APPDATA%", desc = "Go %APPDATA%" },
	{ on = [ "g", "4" ], run = "cd %TEMP%", desc = "Go %TEMP%" },
	{ on = [ "g", "5" ], run = "cd %APPDATA%", desc = "Go %APPDATA%" },
	{ on = [ "g", "6" ], run = "cd C:", desc = "Go C:" },
	{ on = [ "g", "7" ], run = "cd D:", desc = "Go D:" },

    { on = [ "g", "w" ], run = "plugin go-fs -- rootdir", desc = "Go inicial workDir folder" },
    { on = [ "g", "g" ], run = "plugin go-fs -- rootgit", desc = "Go root git folder" },


    # --------------------------------------------------------------------------
    # Redefiniendo keymappings predeterminados
    # --------------------------------------------------------------------------

    # Se redefine el 'filtrado de vista actual de yazi' (el keymapping por defecto usa "f").
    { on = "s", run = "filter --smart", desc = "Filter files" },

    # Se redefine el 'toggle all' (el keymapping por defecto usa "A").
	{ on = "A",   run = "toggle_all --state=on", desc = "Select all files" },

]
