#
# OpenSSL configuration file 
# Archivo de configuracion usadno por el subcomando 'openssl req' para crear CSR
# Notas:
#   > Comando: "openssl req -new ...".
#   > Los CSR son usuado para crear crear certificados para CA intermedio, un seervidor TLS, un cliente TLS, etc.
#   > No confundir con el comando "openssl req -x509 -new ..."  usado para crear certificados
#     auto-firmados (usualmente es el certificado usado para un CA root).
#

[req]
distinguished_name = req_dname
req_extensions = req_exten
prompt = no

[req_dname]
C = PE
ST = Lima
L = Lima
O = Grupo Quyllur
OU = Sistemas
CN = client1.quyllur.home

[req_exten]
basicConstraints = CA:FALSE
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection
nsCertType = client, email
nsComment = "OpenSSL Generated Client Certificate"
subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid,issuer:always
