[Desktop Entry]
Version=1.0
Type=Application
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
Icon=/home/lucianoepc/.local/share/icons/hicolor/256x256/apps/kitty.png
Exec=/home/lucianoepc/.local/bin/kitty +open %U
TryExec=kitty
StartupNotify=true
NoDisplay=true
MimeType=image/*;application/x-sh;application/x-shellscript;inode/directory;text/*;x-scheme-handler/kitty;x-scheme-handler/ssh;

Name=kitty URL Launcher
GenericName=Terminal emulator
Comment=Open URLs with kitty
