#
# OpenSSL extension file 
# Archivos usado para definir extension seccion nombradas de extension para crear certificados
# firmados/autofirmados y CSR.
# Notas:
#  > Para usar alguna de estas extension nombradaas use las opcion '-extfile <extension-file-path>'
#    y definir la seccion a usar '-extensions <seccion-name>' el cual replazara la seccion de extension.
#  > Documentación: "man x509v3_config"
#

[x509_exten]
basicConstraints = CA:FALSE
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
subjectAltName = @alternate_names

[x509_exten_v2]
basicConstraints = CA:FALSE
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
nsCertType = server
nsComment = "OpenSSL Generated Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
subjectAltName = @alternate_names

[alternate_names]
IP.1 = 192.168.30.98
DNS.1 = server1.quyllur.home
DNS.2 = server1


